/*Element Selector*/

h1 {
	color: #221364;
	font-family:impact;
	text-align:center;
	font-size:40px;
}

h3 {
	color: #221364;
	font-family:impact;
	font-size:24px;
	margin-left:50px;
}

p {
	text-align:left;
	margin:50px;
}


img {
	display:block;
	margin:auto;
	
	
}

/*ID Selector*/

#songs {
	color:#221364;
	font-family:impact;
	text-align: left;
	font-size:29px;
}

#list1 {
	color:#304C6D;
	display:block;
	text-align:left;
	margin-left:25px;
	font-size:18px;
	padding-top:0px;

}

#disneypic {
	display:block;
	margin:auto;
	padding-top:50px;
	padding-bottom:50px;
}

#dad {
	display:block;
	margin:auto;
	padding-top:50px;
	padding-bottom:50px;
}

#mee {
	display:block;
	margin:auto;
	padding-top:50px;
	padding-bottom:50px;
}
